@media screen and (max-width: 767px) {
  .container {
    max-width: 468px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1127px) {
  .container {
    max-width: 736px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (min-width: 1128px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

  }
}
.container{
width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
