/* .section-team {
    left: 0px;
    top: 1548px;
    background-color: #f4f4fd;
    padding: 120px 0;
  }
  
  
  .team-header {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navyblue);
    margin-bottom: 72px;
  }
  
  .team-list {
    display: flex;
    gap: 24px;
  }
  
  .team-item {
    background-color: #ffffff;
    flex-basis: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
  }
  
  .team-icon {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  
  .team-soc-icons {
    fill: var(--cloud);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .team-icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  
  .team-icon-item {
    width: 40px;
    height: 40px;
  }
  
  .team-icon-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .team-icon-link:hover,
  .team-icon-link:focus {
    background-color: #404bbf;
  }
  
  .team-member {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--navyblue);
    margin-bottom: 8px;
  }
  
  .team-member-div {
    padding: 32px 0;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  
  .team-text {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--slate);
    padding-bottom: 8px;
  } */